#CONNECTION TO PHOTO SERVER
USER=ENTER USERNAME HERE
PASSWORD=ENTER PASSWORD HERE
HOST=ENTER IP-ADRESS OR DNS-ADRESS HERE

#MODE can be set to 'portrait' or 'landscape'
MODE=landscape

#DURATION is the time until the next picture will be shown in seconds
DURATION=900

#DIRECTORY is the directory which will be opened by showImage.sh
DIRECTORY=/home/pi/Pictures/$MODE/

#DOWNLOAD_DIR is the directory where new photos shall be downloaded to
DOWNLOAD_DIR=/home/pi/Pictures/downloads/

#SERVER_DIR is the directory which shall be synchronized between Server and PhotoFrame
SERVER_DIR=ENTER DIRECTORY HERE

#LOG is the overall log file
LOG=/home/pi/Logs/photoFramelog

#TIMESTAMP describes the timestamp format for logging purposes
TIMESTAMP=$(date +"[%d.%m.%y][%T]")
